* text=auto !eol
action/editer_site.php -text
action/instituer_site.php -text
action/instituer_syndic.php -text
action/instituer_syndic_article.php -text
action/syndiquer_site.php -text
balise/formulaire_site.php -text
base/sites.php -text
base/sites_upgrade.php -text
formulaires/configurer_sites.html -text
formulaires/configurer_sites.php -text
formulaires/editer_site.html -text
formulaires/editer_site.php -text
formulaires/editer_site_fonctions.php -text
formulaires/regler_moderation_site.html -text
formulaires/regler_moderation_site.php -text
genie/syndic.php -text
images/actions-24.png -text
images/actions-filigrane-24.png -text
inc/instituer_site.php -text
inc/site.php -text
inc/syndic.php -text
lang/sites_fr.php -text
liens/implicite_site.php -text
/plugin.xml -text
prive/modeles/syndic-actions-moderer.html -text
prive/modeles/syndic_article.html -text
prive/objets/contenu/site.html -text
prive/objets/contenu/syndic_article.html -text
prive/objets/infos/site.html -text
prive/objets/infos/site_fonctions.php -text
prive/objets/liste/inc-boutons-filtres-statut-syndic.html -text
prive/objets/liste/sites.html -text
prive/objets/liste/syndic.html -text
prive/objets/liste/syndic_articles.html -text
prive/objets/liste/syndic_articles_fonctions.php -text
prive/squelettes/contenu/controler_syndication.html -text
prive/squelettes/contenu/site.html -text
prive/squelettes/contenu/site_edit.html -text
prive/squelettes/contenu/sites.html -text
prive/squelettes/extra/site.html -text
prive/squelettes/navigation/site.html -text
prive/squelettes/navigation/site_edit.html -text
prive/style_prive_plugin_syndic.html -text
prive/themes/spip/images/site-16.png -text
prive/themes/spip/images/site-24.png -text
prive/themes/spip/images/site-add-16.png -text
prive/themes/spip/images/site-add-24.png -text
prive/themes/spip/images/site-del-16.png -text
prive/themes/spip/images/site-del-24.png -text
prive/themes/spip/images/site-edit-16.png -text
prive/themes/spip/images/site-edit-24.png -text
prive/themes/spip/images/site-new-16.png -text
prive/themes/spip/images/site-new-24.png -text
prive/themes/spip/images/syndic-bg-item.png -text
prive/themes/spip/images/syndic-statut-dispo-24.png -text
prive/themes/spip/images/syndic-statut-off-24.png -text
prive/themes/spip/images/syndic-statut-poubelle-24.png -text
prive/themes/spip/images/syndic-statut-publie-24.png -text
public/sites.php -text
puce_statut/site.php -text
puce_statut/syndic_article.php -text
/sites_autoriser.php -text
/sites_pipelines.php -text
urls/generer_url_ecrire_site.php -text
urls/generer_url_ecrire_syndic.php -text
