* text=auto !eol
action/editer_site.php -text
action/instituer_site.php -text
action/instituer_syndic.php -text
action/instituer_syndic_article.php -text
balise/formulaire_site.php -text
exec/sites.php -text
exec/sites_edit.php -text
exec/sites_tous.php -text
genie/syndic.php -text
images/actions-24.png -text
images/actions-filigrane-24.png -text
images/annuler-recherche.png -text
images/syndic-bg-item.png -text
images/syndic-statut-dispo-24.png -text
images/syndic-statut-off-24.png -text
images/syndic-statut-publie-24.png -text
inc/instituer_site.php -text
inc/site.php -text
inc/syndic.php -text
lang/sites_fr.php -text
/plugin.xml -text
prive/exec/controler_syndication.html -text
prive/listes/controler_syndication.html -text
prive/listes/inc-boutons-filtres-statut-syndic.html -text
prive/modeles/syndic-actions-moderer.html -text
prive/modeles/syndic_article.html -text
prive/style_prive_plugin_syndic.html -text
/sites_autoriser.php -text
/sites_pipelines.php -text
urls/site.php -text
